*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  margin: 0;
  background: #0d0d0f;
  color: #fff;
}

section {
  scroll-margin-top: 80px;
}

@media (max-width: 768px) {
  section {
    scroll-margin-top: 50px;
  }
}
